.content {
  max-width: 500px;
  margin: auto;
}

body {
	    font-family: 'DM Sans';
	    font-size: 18px;
}

a:link {
		color: black;
}

a:visited {
		color: black;
}

a:hover {
	color:tomato;
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -5%;
  height: 100%;
  width: auto;
}